.text2 {
    text-align: center;
    @include responcive {
        margin-top: 50px;
        
    }
    h2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 39px;
        color: $textas;
        padding-top: 50px;
        @include responcive {
            font-size: 24px;
            line-height: 36px;
            text-align: center;
        }
    }
    p {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: $textas;
        margin: 30px 294px;
        padding-bottom: 70px;
        @include responcive {
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            margin: 0;
            padding: 15px 57px;
        }
    }
}

.box_end {
    display: flex;
    justify-content: center;
    @include responcive {
        display: block;
    }
   
    
    

    .boxe {
        width: 20%;
        text-align: center;
        padding: 20px;
        margin: 10px 0px;
        margin-bottom: 30px;
        @include responcive {
            width: 100%;
          
        
        }
       

        img {
            width: 65px;
        }
        h2 {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 40px;
            color: $textas;
        }
        p {
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
             color: $textas;
            text-align: center;
        }
    }
}
